style.css
body{

  background-color: #FBEEE6;

  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 15px;
  margin: 0px;

} 


img {
  display: block;
  margin: auto;
  width: 50%;
}

#title {
/*  margin-top: 60px;
  margin-right: 50px;
  margin-bottom: 40px;*/
  text-align: center;
  padding-bottom: 0px;
  overflow: hidden;
  padding-top: 90px;
  padding-right: 200px;
  padding-left: 100px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.bgform {
  background-image: url(cake3.jpg); /*https://www.bluelotusinsights.com/monarch-beach-resort-indian-wedding-sandhya-kiru*/
  background-size: cover;
  padding-top: 10px;
  margin: 0px;
  padding-bottom: 10px;

}

.titleline {
  width: 130%;
  border: 1px solid rosybrown;
  border-radius: 3px rosybrown;
  background-color: rosybrown;
  margin-left: 20px;
  margin-right: 100px;
}

.bot {
  width: 25%;
  border: 5px solid saddlebrown;
  border-radius: 5px;
  background-color: saddlebrown;
  margin-bottom: 0px;
  margin-top: 39%;
  margin-left: 500px;
}

.desp {
  text-align: left;
  padding-top: 15px;
  font-size: 16px;
  font-weight: normal;
  margin-left: 15px;

}


.button {
  background-color: #bca89f;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Open Sans";
}


.button1 {
  margin: 2px;
  padding: 15px;
  background-color: white; 
  color: black; 
  border: 2px solid saddlebrown;
  border-radius: 2px;
  float: left;
  margin-left: 80px;
  margin-top: 30px;
}

.button1:hover {
  background-color: rosybrown;
  color: white;
}

#footer {
  padding: 15px;
}
#header {
  padding: 15px;
  background-color: saddlebrown;
}
.white {
  background-color: white;
  padding: 30px;
}

.brown {
  background-color: burlywood;
  padding: 40px;
}

.bgtitle {
  background-image: url(light.jpg);
  background-size: cover;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.div1 {

background: rgba(255, 255, 255, 0.8);

height:900px;
width:500px;
padding: 60px;
padding-top: 10px;
outline: 10px white;
margin: 50%;
margin: auto;
margin-top: 5%;
margin-bottom: 5%;
width: 50%;
border: 10px solid rosybrown;
border-radius: 20px;
/*overflow: auto;*/
}

p {
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 15px;
}

form {
  width:100%;

}

h1 {
  text-align: right;
  padding: 0px;
  font-family: 'Merriweather', serif;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: saddlebrown;
}

h6 {
  font-family: "Open Sans";
  margin: 10px;
  margin-left: 20px;
  font-style: italic;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}

.left {
  float: left;
  margin: auto;
  padding-left: 10px;

}
.right {
  float: right;
  padding-right: 50px;
  margin-left: 20px;

}

.cake {
  width: 500px;
  height: 450px;
}

.cakeflavor {

  float: left;
  position: left;
  font-family: "Open Sans";
}


.hehe {
  padding-top: 2px;
  text-align: center;
  font-family: "Playfair Display", Sans-serif;
  font-weight: bold;
  font-size: 39px;
}


h3 {
  font-family: "Playfair Display", Sans-serif;
  color: saddlebrown;

}

hr.design {
  border: 1px solid darkgray;
  border-radius: 2px;
  margin:0px;
  padding: 0px;
 }


.icing {
  padding-left: 30px;
  padding-right: 40px;
  float: right;
  padding-top: 40px;
  padding-bottom: 20px;
}

.filling {
  float: left;
  padding-left: 140px;
  padding-top: 41px;
  padding-bottom: 0px;
}

.additions {
  padding-top: 60px;
  padding-bottom: 70px;

}

.decor {
  float: left;
  padding-left: 140px;

}

.inside {
  float:left;
  font-weight: bold;
}

.Liquor {
  float: right;
  padding-right: 70px;
}

.Customer {
  float: left;
}

.delivery {
  float: right;
  padding-right: 140px;
}



input[type=text], input[type=tel], input[type=email] {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #bca89f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color:rgba(255, 255, 255, 0.7);
  outline: none;
  }

input[type=text]:hover, input[type=tel]:hover, input[type=email]:hover, 
input[type=date]:hover, input[type=time]:hover, textarea:hover {
  background-color: white;
  opacity: 100%;

  }

input[type=text]:focus,input[type=tel]:focus, input[type=email]:focus,
input[type=date]:focus, input[type=time]:focus, textarea:focus {
  border: 1px solid saddlebrown;
} 


  textarea {
    resize: none;
    width: 150%;
    margin: 8px 0;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #bca89f;
   -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color:rgba(255, 255, 255, 0.7);
    outline: none;
    font-family: "Open Sans";
  }

  input[type=date] {
  width: 100%;
  margin: 8px 0;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid #bca89f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color:rgba(255, 255, 255, 0.7);
  outline: none;
}

  input[type=time] {
  width: 100%;
  margin: 8px 0;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid #bca89f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color:rgba(255, 255, 255, 0.7);
  outline: none;
}


input[type=submit] {
  background-color: burlywood;
  border-color: burlywood;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 25px 2px;
  cursor: pointer;
  font-weight: bold;

  }

 input[type=reset] {
  background-color: antiquewhite;
  border-color: antiquewhite;
  border-radius: 10px;
  color: saddlebrown;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;

  }


input[type=submit]:hover {
  background-color: antiquewhite;
  color: saddlebrown;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

input[type=reset]:hover {
  background-color: burlywood;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

input[type=number] {
  background-color: white;
  border: none;
  color: black;
  padding: 3px;
  text-decoration: none;
  margin-left: 9px;
  cursor: pointer;
  border: 1px solid #bca89f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color:rgba(255, 255, 255, 0.6);
}

  }


.pangsubmit {
  float: left;
}


select {
  margin: 10px;
  width: 100%;
  padding: 8px;
  padding-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 2px;
}

select:hover {
  background-color: #bca89f;
  color: white;
}



.bold {
  font-weight: bold;
}

.italic {
  font-weight: normal;
  font-style: italic;
}

/*styling radio button : https://codepen.io/manabox/pen/raQmpL*/

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 25px;
    padding-top: 2px;
    cursor: pointer;
    line-height: 19px;
    display: inline-block;
    color: black;

}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid saddlebrown;
    border-radius: 100%;
    background: #fff;
    margin-top: 3px;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: saddlebrown;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-top: 3px;
}
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin: auto;
  margin-right: 7px;
}

input[type="checkbox"] + label {
  cursor: pointer;
  font-weight: normal;
}


input[type="checkbox"]:checked {
  background-color: saddlebrown;
}

input[type="checkbox"]:hover {
  background-color: #a5a5a5;
}

.button2 {
  margin: 2px;
  padding: 15px;
  background-color: white; 
  color: black; 
  border: 2px solid saddlebrown;
  border-radius: 2px;
  float: left;
  margin-left: 10px; /* Adjust as needed */
  margin-top: 30px;
}

.button2:hover {
  background-color: rosybrown;
  color: white;
}

